main{
    background-color: aliceblue;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 25px;
}

footer{
    display: inline-flex;
    background-color: rgb(228, 221, 221);
    width: 100%;
    margin: 2rem;
    border-radius: 25px;
    justify-content: space-evenly;
}

footer > *{
    background-color: darkslategray;
    margin: 1rem;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
}

main>nav{
    margin: 1rem;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    margin-top: 0.3rem;
}
ul{
    padding-left: 0;
}

.nav-link{
    background-color: rgb(228, 221, 221);
    border-radius: 25px;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link > ul > .link{
    margin-left: 2rem;
    list-style: "- ";
}

.display{
    background: linear-gradient( rgb(204, 204, 204), rgb(193, 208, 240));
    width: 100%;
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
}


/*
* Nuage de mot :
*/

.word-cloud{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 15px;
}

.word-cloud > * {
    display: flex;
    margin: 0.3rem;
    padding: 3%;    
    justify-content: center;
    border-radius: 15px;
    transition: transform .2s;
}

.word-cloud > :hover{
    transform: scale(1.25);
}