main{
    background-color: aliceblue;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 25px;
    border: 2px solid black;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    text-decoration: underline solid black;
    flex-shrink: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 954px) {
    header > img{
        visibility: hidden;
        flex-shrink: 2;
    }
    header{
        justify-content: center;
    }
}

header{
    display: inline-flex;
    flex-direction: row-reverse;
}
header > *{
    margin: 1rem;
}

footer{
    display: inline-flex;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    justify-content: space-between;
}

footer > *{
    background-color: rgb(228, 221, 221);
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
}

footer section > ul >h4{
    margin: 0.1rem;
    text-decoration: underline solid black;
}
main>nav{
    margin: 1rem;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    margin: 3px;
}

.nav-link{
    background-color: rgb(228, 221, 221);
    border-radius: 25px;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid black;
    flex-shrink: 0;
    width: 20%;
}
.index  h2, .nav-link h2,h3{
    font-size: 1rem;
    margin: 1;
    text-decoration: underline solid darkslategray;
}
.nav-link > ul > .link{
    margin-left: 2rem;
    list-style: "- ";
}

.display{
    background: darkslategray;
    width: 100%;
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
}


.index  h2, .display h3{
    margin-top: 0.5rem;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline solid black;
}

.display h2{
    margin-top: 0.5rem;
    font-size: 300%;
    font-weight: bold;
    text-decoration: underline solid black;
}

.parag{
    border-radius: 15px;
    background-color: rgb(228, 221, 221);
    padding: 0.5rem;
    margin: 1rem;
}
.parag > h2 {
    text-decoration: underline solid black;
    font-size: 1.5rem;
}
.parag > p{
    margin-left: 1rem;
    font-family: "Fira Sans", sans-serif;
}

.parag > p > a{
    text-decoration: underline blue;
    color: blue;
}
/*
* Nuage de mot :
*/

.word-cloud{
    flex-grow: 1;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    height: 65%;
    border-radius: 15px;
    background-color: aliceblue;
    margin: auto;
}

.word-cloud > * {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    justify-content: center;
    font-weight: bold;
}
.cloud{
    margin: 1rem;
    font-size: 220%;
}
