.word-cloud > :nth-child(1){
	width:16%;
	font-size:173%;
	background-color: rgb(102,108,102);
	color: black;
}
.word-cloud > :nth-child(6){
	width:20%;
	font-size:163%;
	background-color: rgb(102,68,102);
	color: black;
}
.word-cloud > :nth-child(0){
	width:10%;
	font-size:164%;
	background-color: rgb(102,131,102);
	color: black;
}
.word-cloud > :nth-child(5){
	width:17%;
	font-size:190%;
	background-color: rgb(102,127,102);
	color: black;
}
.word-cloud > :nth-child(16){
	width:22%;
	font-size:155%;
	background-color: rgb(102,153,102);
	color: black;
}
.word-cloud > :nth-child(15){
	width:10%;
	font-size:180%;
	background-color: rgb(102,66,102);
	color: black;
}
.word-cloud > :nth-child(4){
	width:19%;
	font-size:191%;
	background-color: rgb(102,88,102);
	color: black;
}
.word-cloud > :nth-child(9){
	width:10%;
	font-size:137%;
	background-color: rgb(102,148,102);
	color: black;
}
.word-cloud > :nth-child(3){
	width:12%;
	font-size:151%;
	background-color: rgb(102,162,102);
	color: black;
}
.word-cloud > :nth-child(10){
	width:14%;
	font-size:191%;
	background-color: rgb(102,204,102);
	color: black;
}
.word-cloud > :nth-child(14){
	width:15%;
	font-size:107%;
	background-color: rgb(102,248,102);
	color: black;
}
.word-cloud > :nth-child(8){
	width:22%;
	font-size:177%;
	background-color: rgb(102,199,102);
	color: black;
}
.word-cloud > :nth-child(13){
	width:21%;
	font-size:173%;
	background-color: rgb(102,236,102);
	color: black;
}
.word-cloud > :nth-child(2){
	width:20%;
	font-size:192%;
	background-color: rgb(102,54,102);
	color: black;
}
.word-cloud > :nth-child(12){
	width:17%;
	font-size:190%;
	background-color: rgb(102,3,102);
	color: black;
}
.word-cloud > :nth-child(11){
	width:14%;
	font-size:199%;
	background-color: rgb(102,96,102);
	color: black;
}
.word-cloud > :nth-child(7){
	width:11%;
	font-size:106%;
	background-color: rgb(102,122,102);
	color: black;
}
