.word-cloud > :nth-child(0){

	width:17%;
	background-color: rgb(102,220,102);
	color: black;
}
.word-cloud > :nth-child(1){

	width:22%;
	background-color: rgb(102,55,102);
	color: black;
}
.word-cloud > :nth-child(4){

	width:24%;
	background-color: rgb(102,172,102);
	color: black;
}
.word-cloud > :nth-child(7){

	width:32%;
	background-color: rgb(102,224,102);
	color: black;
}
.word-cloud > :nth-child(2){

	width:20%;
	background-color: rgb(102,68,102);
	color: black;
}
.word-cloud > :nth-child(8){

	width:26%;
	background-color: rgb(102,126,102);
	color: black;
}
.word-cloud > :nth-child(3){

	width:32%;
	background-color: rgb(102,126,102);
	color: black;
}
.word-cloud > :nth-child(16){

	width:29%;
	background-color: rgb(102,189,102);
	color: black;
}
.word-cloud > :nth-child(10){

	width:18%;
	background-color: rgb(102,52,102);
	color: black;
}
.word-cloud > :nth-child(6){

	width:29%;
	background-color: rgb(102,82,102);
	color: black;
}
.word-cloud > :nth-child(15){

	width:24%;
	background-color: rgb(102,74,102);
	color: black;
}
.word-cloud > :nth-child(14){

	width:30%;
	background-color: rgb(102,38,102);
	color: black;
}
.word-cloud > :nth-child(13){

	width:30%;
	background-color: rgb(102,83,102);
	color: black;
}
.word-cloud > :nth-child(5){

	width:23%;
	background-color: rgb(102,180,102);
	color: black;
}
.word-cloud > :nth-child(12){

	width:23%;
	background-color: rgb(102,43,102);
	color: black;
}
.word-cloud > :nth-child(11){

	width:30%;
	background-color: rgb(102,208,102);
	color: black;
}
.word-cloud > :nth-child(9){

	width:24%;
	background-color: rgb(102,72,102);
	color: black;
}
